// Fonts
$ff-sans: 'Open Sans', sans-serif;
$ff-roboto: 'Roboto', sans-serif;
$ff-yellowtail: 'Yellowtail', cursive;

// Font size
$fs-title: 45px;
$fs-title-1: 40px;
$fs-subtitle: 35px;
$fs-subtitle-1: 25px;
$fs-text: 20px;
$fs-text-1: 18px;
$fs-text-2: 15px;

// Font weight
$fw-normal: 400;
$fw-bold: 700;
