* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  box-sizing: border-box;
  max-width: 1200px;
  font-size: 15px;
  /* font-size: 400; */
  width: 100%;
}

@font-face {
  font-family: "Roboto";
  src: url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900;);
}
.container {
  margin: 20px;
}
.header__nav {
  margin-top: 20px;
  display: flex;
  
}

nav,
li {
  list-style-type: none;
  text-decoration: none;
  padding-left: 20px;
  display: inline;
  margin-top: 2px;
  font-size: 12px;
  width: 100%;
}

a {
  color: black;
}
div.maintext::first-letter {
  font-size: 0.5rem;
}
p {
  font-family: "Roboto";
  font-weight: 400;
}
li.eng {
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 0.9px;
  color: white;
  width: 10px;
}
.logo-name {
  display: flex;
  text-transform: uppercase;
  font-size: 3.4rem;
  font-weight: 700;

}

.maintext {
  font-family: "Roboto";
  font-weight: 700;
  text-transform: uppercase;
}
sup {
  vertical-align: top 0;
  font-size: 0.5em;
}
.item-color {
  background: rgb(238, 238, 238);
}
