* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  box-sizing: border-box;
  max-width: 1200px;
  font-size: 15px;
  font-size: 400;
  width: 100%;
}

@font-face {
  font-family: "Roboto", "PT Sans";
  src: url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900;);
}
.container {
  margin: 20px;
}
.header__nav {
  display: flex;
}

nav,
li {
  list-style-type: none;
  text-decoration: none;
  padding-left: 20px;
  display: inline;
  margin-top: 2px;
  font-size: 12px;
  width: 100%;
}

a {
  color: black;
}
div.maintext::first-letter {
  font-size: 0, 5rem;
}
p {
  font-family: "Roboto", "PT Sans";
  font-weight: 400;
}
span.eng {
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 0.8px;
  color: white;
  width: 10px;
}

.logo-name {
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 2px;
  margin-right: 100px;
  display: inline;
  text-align: right;
  font-size: 20px;
  height: 50px;
  width:20px;
}
.maintext {
  font-family: "Roboto", "PT Sans";
  font-weight: 700;
}
sup {
  vertical-align: top 0;
  font-size: 0.5em;
}
.triangle {
  width: 10px;
  height: 20px;
}
.name {
  flex-direction: row;
  display: flex;
  
}
.item-color {
  background: rgb(238, 238, 238);
}
