* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}
body {
  font-family: "Poppins", sans-serif;
  max-width: 1200px;
  font-size: 16px;
  margin: 0 auto;
  display: block;
}
.container {
  max-height: 3840px;
  max-width: 1400px;
}
.wrapper {
  margin: 10px;
}

/*header*/
.header {
  justify-content: space-between;
  display: flex;
  padding: 15px;
}
.header__logo {
  width: 20px;
}
.header__name {
  color: #173a56;
  font-weight: 700;
  font-size: 30px;
}
.navigation__nav,
li,
a {
  text-decoration: none;
  padding-right: 5px;

}
.header__navigation {
  justify-content: right;
  align-items: center;
  display: flex;
}
.navigation {
  justify-content: space-between;
  font-size: 10px;
}
.all__nav {
  text-decoration: underline;
  color: #ff9900;
  font-size: 16px;
}
ul {
  list-style-type: none;
  display: inline-flex;
}

.header__button {
  border: 1px solid #bcd0e5;
  background: #ffff;
  border-radius: 4px;
  color: #173a56;
  margin-left: 5px;
  font-size: 10px;
  padding: 5px;
}
.orange {
  font-size: 10px;
  padding: 4px;
}

/*body*/

.orange,
.orange-big,
.orange-big__center {
  background: #ff9900;
  border-radius: 4px;
  color: white;
}

.orange-big,
.orange-big__center {
  margin-top: 10px;
  font-size: 15px;
  padding: 5px;
}
.triangle {
  border-left: 15px solid #ff9900;
  border: 10px solid transparent;
  margin-left: 30px;
}

.thinking {
  justify-content: space-between;
  margin-bottom: 30px;
  max-width: 1130px;
  display: flex;
}
.thinking-left {
  padding: 20px 40px 0;
  max-width: 500px;
}
.thinking__button {
  justify-content: start;
  align-items: center;
  color: #ff9900;
  display: flex;
}

/* First central block */
.centerall {
  max-width: 2210px;
  text-align: center;
  margin-bottom: 30px;
}
.center {
  margin: 54px 150px;
  max-width: 1090px;
  display: flex;
}
.box-tools {
  margin-right: 40px;
  align-items: start;
  text-align: left;
  max-width: 240px;
  padding-left: 0;
  padding-top: 0;
}

.box-tool:last-child {
  margin-right: 0;
}
.picture {
  max-width: 450px;
  width: 100%;
  /* margin-bottom: 5px; */
}

/* Same bloks */
.all {
  max-width: 1121px;
  display: block;
}
.managers {
  justify-content: space-around;
  display: flex;
}
.all {
  justify-content: space-between;
  margin-bottom: 30px;
  padding-top: 20px;
  max-width: 1150px;
  display: flex;
}

.container__text {
  text-align: start;
}

.managers__text,
.managers__img {
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
  display: flex;
  padding: 10px;
}

/* Footer */
.footer-container {
  max-width: 1110px;
  /* margin: 20px; */
}
.footer-container__all {
  justify-content: flex-end;
  display: flex;
}

.footer-container__stuff {
  margin-left: 50px;
  height: 140px;
  width: 132px;
}
.footer-container__links {
  margin-left: 50px;
  display: inline;
  font-size: 15px;
  height: 140px;
  width: 72px;
}
.footer__item {
  border: 1px solid #bcd0e5;
  height: 20px;
}
.footer__end {
  flex-direction: column;
  align-items: start;
  margin-left: 50px;
  font-size: 16px;
  display: flex;
  width: 325px;
}
