/**   variabls  */
:root {
  --ff-base: "Roboto", sans-serif;
  --c-black: #252525;
  --c-white: #f2f2f2;
  --c-azul:#284e48;
}

/** Global*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: var(--c-white);
  font-family: var(--ff-base);
  color: var(--c-black);
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
.title {
  border-bottom: 2px solid var;
  color: var(--c-white);
  text-align: center;
  padding: 20px;
}
.subtitle {
  border-top: 1px solid pink;
  text-align: center;
  padding: 20px 0;
}
.app {
  /* width: 400px;
  height: 400px; */
  background-color: var(--c-azul);
  color: var(--c-white);
  margin: 20px auto;
  padding: 50px;
 
}
li {
  margin-top: 20px;
}
.todo-list_all {
  display: flex;
 justify-content: space-between;
}
.todo__list {
  list-style-type: none;
}
.todo-list-color {
 margin-right: 50%;
}
.todo-item {
  margin-bottom: 10px;
  cursor: pointer;
}
todo-item:hover {
  text-decoration: line-through;
}
.todo__create {
  justify-content: center;
  margin-bottom: 20px;
  align-items: center;
  display: flex;
}
.todo__input {
  margin-right: 20px;
  border-radius: 6px;
  padding: 0 20px;
  height: 40px;
  bottom: none;
  width: 100%;
  cursor: pointer;
}
.todo__button {
  border-color: var(--c-white);
  white-space: nowrap;
  border-radius: 50%;
  padding: 0 20px;
  cursor: pointer;
  height: 40px;
  border: none;
}
.todo__button:hover {
  opacity: 0.8;

}